.content {
  margin-left: 220px; /* width of sidebar */
  padding: 80px 20px 20px 20px; /* leave space for navbar */
  width: 100%;
}
 .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
}